absl-py==0.8.0
alabaster==0.7.12
argcomplete==1.10.0
asn1crypto==0.24.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.0
bids-validator==1.2.4
bleach==3.1.2
Brlapi==0.6.6
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
checkbox-support==0.39.0
citeproc-py==0.4.0
Click==7.0
cloudpickle==1.2.2
codecov==2.0.15
coverage==5.0a7
cryptography==2.7
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.13
dask==2.4.0
decorator==4.4.0
defer==1.0.6
defusedxml==0.6.0
dipy==1.0.0
distro-info===0.18ubuntu0.18.04.1
docopt==0.6.2
docutils==0.15.2
duecredit==0.7.0
entrypoints==0.3
feedparser==5.2.1
Flask==1.1.1
Flask-Uploads==0.2.1
fmriprep==1.4.1
funcsigs==1.0.2
future==0.17.1
gast==0.3.2
Glances==3.1.2
google-pasta==0.1.7
grabbit==0.2.6
grpcio==1.24.0rc1
gunicorn==19.9.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.13.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==0.23
indexed-gzip==0.8.10
intensity-normalization==1.3.1
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jedi==0.15.1
jeepney==0.4.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
keyrings.alt==3.1.1
kiwisolver==1.1.0
language-selector==0.1
llvmlite==0.29.0
lockfile==0.12.2
louis==3.5.0
lxml==4.4.1
macaroonbakery==1.2.3
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.3
neurdflib==5.0.0.post1
nibabel==2.5.1
nilearn==0.5.2
nipy==0.4.2
nipype==1.2.2
nitime==0.8.1
niworkflows==0.10.3
notebook==6.0.1
num2words==0.5.10
numba==0.45.1
numpy==1.17.2
numpydoc==0.9.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.0.1
packaging==19.2
pandas==0.25.1
pandocfilters==1.4.2
paramiko==2.6.0
parso==0.5.1
patsy==0.5.1
pbr==5.4.3
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
plainbox==0.38.0
pluggy==0.13.0
progressbar==2.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.10.0rc1
prov==1.5.3
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.7
pybids==0.9.4
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pydicom==1.3.0
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.4.2
pygobject==3.26.1
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.2
pyRFC3339==1.1
pyrsistent==0.15.4
pytest==5.1.3
pytest-cov==2.7.1
pytest-env==0.6.2
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.36
pytz==2019.2
PyWavelets==1.0.3
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
rdflib==4.2.2
requests==2.22.0
requests-unixsocket==0.2.0
scikit-fuzzy==0.4.1
scikit-image==0.15.0
scikit-learn==0.21.3
scipy==1.3.1
scour==0.37
screen-resolution-extra==0.0.0
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
SimpleITK==1.2.2
simplejson==3.16.0
six==1.12.0
sklearn==0.0
skorch==0.6.0
smriprep==0.3.2
snowballstemmer==1.9.1
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.8
ssh-import-id==5.7
statsmodels==0.10.1
svgutils==0.3.1
sympy==1.4
system-service==0.3
systemd-python==234
tabulate==0.8.3
tb-nightly==2.1.0a20190923
tedana==0.0.7
templateflow==0.4.1
tensorboard==1.14.0
tensorflow-estimator==2.0.0
tensorflow-gpu==2.0.0rc1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tf-estimator-nightly==1.14.0.dev2019091101
toolz==0.10.0
torch==1.2.0
torchvision==0.4.0
tornado==6.0.3
tqdm==4.35.0
traitlets==4.3.2
traits==5.1.2
transforms3d==0.3.1
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.5
versioneer==0.18
virtualenv==16.7.5
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xkit==0.0.0
xvfbwrapper==0.2.9
yapf==0.28.0
zipp==0.6.0
